@import Url('https://fonts.googleapis.com/css?family=Roboto:500&display=swap');

/* Cacher les scrollbars */
body::-webkit-scrollbar {display: none;} 
body {overflow-x: hidden;}


html, body { 
    width: 100.2%; 
    height: 100%;
    font-family: "Roboto";
    font-weight: 600;
    font-size: 45px;
}

header {
    width: 102%;
    height: 7.5%; 
    margin-top: -9px;
    margin-left: -9px;
    background-color: #292929;
}

#logoPortfolio {
    float: left;
    margin: 0.20% 0 0 0;
    max-width: 30vh;
    height: auto;
}

#nav {
    float: right;
    margin-right: 4%;
}

#nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

#nav li {
    display: inline-block;
    margin-left: 1.65vw;
    padding-top: 1.5vh;
    font-size: 3.5vh;
    position: relative;
}

/* Adaptation de la navBar en fonction de la taille verticale de la fenêtre */
@media (max-height: 1300px) { 
    #nav li {
        padding-top: 19px;
    }
}

@media (max-height: 1150px) { 
    #nav li {
        padding-top: 16px;
    }
}

@media (max-height: 1090px) { 
    #nav li {
        padding-top: 15px;  
    }
}

#nav a {
    color: #e3e3e3;
    text-decoration: none;
    text-transform: uppercase;
}

#nav a:hover {
    color: #ffffff;
}

#nav a::before {
    content: '';
    display: block;
    height: 0.6vh;
    width: 0%;
    top: 0;
    background-color: #f56529;
    position: absolute;
    transition: all ease-in-out 200ms;
}

#nav a:hover::before {
    width: 101%;
}


#wrap {
    width: 100.2%;
    height: 100.4%;
    margin-top: -9px;
    margin-left: -9px;
    background-size: 131%;
    background-image: url(../Design/Wallpapers/backgroundProjects.png);
    background-color: #f7f7f7;
    background-repeat: no-repeat;
    background-position-x: 34.6%;
    background-position-y: -3px;
    position: fixed;
    overflow-x: hidden;
}

#wrap::-webkit-scrollbar { 
    width: 0 !important 
}

#container {
    width: 45%;
    height: 100%;
    position: relative;
    margin-left: 27.5%;
    font-size: 1.5vw ;
}

h1 {
    font-size: 200%;
    font-weight: 800;
    margin: 0%;
    padding-top: 7%;
    text-transform: uppercase;
    text-align: center;
    color: #272727;
}

#img {
    width: 100%;
    height: 50%;
    margin-top: 4.5%;
    background-image: url(../Projects/Miniatures/imgProjetTetris.png);
    background-repeat: no-repeat;
    background-size: 100%;
}

h2 {
    padding: 4% 1% 0% 1%;
    margin-bottom: 0%;
    font-size: 90%;
    font-weight: 600;
    text-transform: uppercase;
    color: #272727;
}

#soulignage { 
    width: 8.5vw;
    margin: -0.35vh 0 0 1%;
    float: left;
    border-bottom: 0.3vh solid #f56529;
}

p {
    padding: 0% 0% 5% 1%;
    font-size: 50%;
    font-weight: 400;
    color: #272727;
}

h3 {
    font-size: 150%;
    font-weight: 800;
    margin: 0%;
    margin-top: 5%;
    margin-bottom: 2%;
    text-transform: uppercase;
    text-align: center;
    color: #272727;
}

h4 { 
    margin-top: 5%;
    margin-bottom: -0.5vh;
    font-size: 70%;
    font-weight: 200;
    text-align: center;
}




/* Bouton GitHub */
#GitHubButton {
    display: inline-block;
    position: relative;
    margin-left: 17.75vw;
    margin-bottom: 1vw;
}
#imgGit {
    position: absolute;
    width: 10vw; 
    height: 3vw; 
    transition: opacity 500ms;
}
#imgGitHover {
    position: absolute;
    width: 10vw; 
    height: 3vw; 
    pointer-events: none; 
    opacity: 0; 
    transition: opacity 500ms;
}




/* Footer */
#footer {
    position: relative;
    width: 100%;
    height: 21.5%;
    margin-top: 45%;
    background-color: #272727;
}

#margin {
    margin-top: 48vw;
    height: 0.5vw;
}

/* Icon GitHub */
#git {
    position: relative;
    margin-left: 47.35vw; 
    margin-top: 5vw;
    text-decoration: none;
}
#iconGit {
    position: absolute;
    width: 1.6vw; 
    height: 1.6vw; 
    transition: opacity 400ms;
}
#iconGitHover {
    position: absolute;
    width: 1.6vw; 
    height: 1.6vw; 
    pointer-events: none; 
    opacity: 0; 
    transition: opacity 400ms;
}

/* Icon LinkedIn */
#linkedin {
    position: relative;
    margin-left: 1.85vw; 
    text-decoration: none;
}
#iconLinkedin {
    position: absolute;
    width: 1.6vw; 
    height: 1.6vw; 
    transition: opacity 400ms;
}
#iconLinkedinHover {
    position: absolute;
    width: 1.6vw; 
    height: 1.6vw; 
    pointer-events: none; 
    opacity: 0; 
    transition: opacity 400ms;
}

/* Icon Mail */
#mail {
    position: relative;
    margin-left: 1.85vw;
    text-decoration: none;
}
#iconMail {
    position: absolute;
    width: 1.6vw;  
    height: 1.6vw; 
    transition: opacity 400ms;
}
#iconMailHover {
    position: absolute;
    width: 1.6vw; 
    height: 1.6vw; 
    pointer-events: none; 
    opacity: 0; 
    transition: opacity 400ms;
}


/* Nav Text */

#navFooter {
    margin-top: -0.6vw;
    margin-left: 41.3vw;
}

#navFooter ul {
    margin: 0;
    padding: 0;
}

#navFooter li {
    display: inline-block;
    margin-left: 0.5vw;
    font-size: 0.85vw;
    font-weight: 400;
    position: relative;
}

#navFooter a {
    color: #ffffff;
    text-decoration: none;
    transition: color 400ms;
}

#navFooter a:hover {
    color: rgb(245, 123, 41);
    transition: color 400ms;
}

h5 {
    font-family: Roboto Regular;
    font-size: 0.7vw;
    font-weight: 1;
    text-align: center;
    margin-top: 1.1vw;
    color: #ffffff;
}

h6 {
    font-family: Roboto Regular;
    font-size: 0.75vw;
    font-weight: 1;
    text-align: center;
    margin-top: -1vw;
    color: #ffffff; 
}

#credit {
    font-weight: 600;
    color: #ffffff; 
    transition: all 400ms;
}

#credit:hover {
    text-decoration: none;
    color: rgb(245, 123, 41);
    transition: all 400ms;
}

@media (max-height: 1100px) { 
    #navFooter {
        margin-top: -2vw;
        margin-left: 41.3vw;
    }
    #navFooter li {
        margin-left: 0.415vw;
    }
    h5 {
        font-size: 0.75vw;
        margin-top: 1vw;
    }
    h6 {
        margin-top: -1.1vw;
    }
}