@import Url('https://fonts.googleapis.com/css?family=Roboto:500&display=swap');

/* Cacher les scrollbars */
body::-webkit-scrollbar {display: none;} 
body {overflow-x: hidden;}


html, body { 
    width: 100.2%; 
    height: 100%;
    font-family: "Roboto";
    font-weight: 600;
    font-size: 45px;
    background-color: #272727;
}

header {
    width: 102%;
    height: 7.5%;
    margin-top: -9px;
    margin-left: -9px;
    background-color: #292929;
}

#logoPortfolio {
    float: left;
    margin: 0.20% 0 0 0;
    max-width: 30vh;
    height: auto;
}

#nav {
    float: right;
    margin-right: 4%;
}

#nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

#nav li {
    display: inline-block;
    margin-left: 1.65vw;
    padding-top: 1.5vh;
    font-size: 3.5vh;
    position: relative;
}

/* Adaptation de la navBar en fonction de la taille verticale de la fenêtre */
@media (max-height: 1300px) { 
    #nav li {
        padding-top: 19px;
    }
}

@media (max-height: 1150px) { 
    #nav li {
        padding-top: 16px;
    }
}

@media (max-height: 1090px) { 
    #nav li {
        padding-top: 15px;  
    }
}

#nav a {
    color: #e3e3e3;
    text-decoration: none;
    text-transform: uppercase;
}

#nav a:hover {
    color: #ffffff;
}

#nav a::before {
    content: '';
    display: block;
    height: 0.6vh;
    width: 0%;
    top: 0;
    background-color: #f56529;
    position: absolute;
    transition: all ease-in-out 200ms;
}

#nav a:hover::before {
    width: 101%;
}


#wrap {
    width: 100.2%;
    height: 100.4%;
    margin-top: -9px;
    margin-left: -9px;
    background-size: 131%;
    background-image: url(Design/Wallpapers/backgroundProjects.png);
    background-color: #272727;
    background-repeat: no-repeat;
    background-position-x: 34.6%;
    background-position-y: -3px;
    position: fixed;
    overflow-x: hidden;
}

#wrap::-webkit-scrollbar { 
    width: 0 !important 
}

#container {
    width: 55%;
    height: 100%;
    position: relative;
    margin-left: 22.5%;
    margin-top: -12%;
    font-size: 40px; 
}


/* Platformer 2D */

#titleMyProjects
{   
    font-size: 6vw;
    font-weight: 800;
    margin: 0%;
    margin-top: 2%;
    text-transform: uppercase;
    text-align: center;
    color: #272727;
}


#barreProjects 
{
    width: 100%;
    height: 0.08vw;
    margin-top: 0%;
    position: absolute;
    background-color: #1d1d1d;
}

#platformer-container {
    width: 55%;
    height: 93%;
    margin-left: 22.5%;
    position: relative;
    font-size: 40px; 
    color: white;
}

h1 {
    font-size: 2.6vw;
    font-weight: 800;
    margin: 0%;
    margin-top: 5%;
    text-transform: uppercase;
    text-align: center;
    color: #272727;
}

#imgPlatformer {
    z-index: 1;
    position: absolute;
    width: 100%;
    height: 100%;
    margin-top: 0.5%;
    background-image: url(Projects/Design/Platform\ 2D.png);
    background-repeat: no-repeat;
    background-size: 100%;
}

#titlePlatformer {
    font-size: 2.04vw;
    font-weight: 800;
    padding-top: 4%;
    padding-left: 72.2%;
    text-transform: uppercase;
    position: absolute;
}

#textJustify
{   
    width: 15.3vw;
    font-family: "Roboto Light";
    font-weight: 100;
    font-size: 0.8vw;
    text-align: justify;
    position: absolute;
    margin-top: 9%;
    margin-left: 70.2%;
}

#moreInfo 
{
    font-family: "Roboto Light";
    font-weight: 100;
    font-size: 1.5vw;
    margin-top: 22%;
    padding-left: 70.2%;
    position: absolute;
}

#soulignageMoreInfo 
{
    width: 11.25vw;
    height: 0.075vw;
    margin-left: 70.4%;
    margin-top: 25%;
    background-color: white;
    position: absolute;
}

#infos
{
    font-family: "Roboto Regular";
    font-weight: 100;
    font-size: 0.85vw;
}

#clock 
{   
    width: 1.6vw;
    height: 1.6vw;
    margin-left: 70%;
    margin-top: 27%;
    background-image: url(Projects/Design/clock.png);
    background-repeat: no-repeat;
    background-size: 100%;
    position: absolute;
}
#textClock 
{
    position: absolute;
    margin-left: 73.75%;
    margin-top: 27.5%;
}

#user 
{   
    width: 1.6vw;
    height: 1.6vw;
    margin-left: 70%;
    margin-top: 33%;
    background-image: url(Projects/Design/user.png);
    background-repeat: no-repeat;
    background-size: 100%;
    position: absolute;
}
#textUser
{
    position: absolute;
    margin-left: 73.75%;
    margin-top: 33.5%;
}

#setting 
{   
    width: 1.6vw;
    height: 1.6vw;
    margin-left: 70%;
    margin-top: 30%;
    background-image: url(Projects/Design/setting.png);
    background-repeat: no-repeat;
    background-size: 100%;
    position: absolute;
}
#textSetting
{
    position: absolute;
    margin-left: 73.75%;
    margin-top: 30.5%;
}

#tilemap
{   
    width: 1.6vw;
    height: 1.6vw;
    margin-left: 70%;
    margin-top: 32.9%;
    background-image: url(Projects/Design/tilemap.png);
    background-repeat: no-repeat;
    background-size: 100%;
    position: absolute;
}
#textTilemap
{
    position: absolute;
    margin-left: 73.75%;
    margin-top: 33.5%;

}

#shaders
{   
    width: 1.6vw;
    height: 1.6vw;
    margin-left: 70%;
    margin-top: 36%;
    background-image: url(Projects/Design/shader.png);
    background-repeat: no-repeat;
    background-size: 100%;
    position: absolute;
}
#textShaders
{
    position: absolute;
    margin-left: 73.75%;
    margin-top: 36.5%;
}

#gitUse
{   
    width: 1.6vw;
    height: 1.6vw;
    margin-left: 70%;
    margin-top: 36%;
    background-image: url(Projects/Design/gitUse.png);
    background-repeat: no-repeat;
    background-size: 100%;
    position: absolute;
}
#textGitUse
{
    position: absolute;
    margin-left: 73.75%;
    margin-top: 36.5%;
}

#UML
{   
    width: 1.6vw;
    height: 1.6vw;
    margin-left: 70%;
    margin-top: 42%;
    background-image: url(Projects/Design/UML.png);
    background-repeat: no-repeat;
    background-size: 100%;
    position: absolute;
    transition: opacity 500ms;
    opacity: 1;
}
#UMLHover
{   
    width: 1.6vw;
    height: 1.6vw;
    margin-left: 70%;
    margin-top: 42%;
    background-image: url(Projects/Design/UMLHover.png);
    background-repeat: no-repeat;
    background-size: 100%;
    position: absolute;
    transition: opacity 500ms;
    opacity: 0;
}

#textUML
{
    color: white;
    position: absolute;
    margin-left: 73.75%;
    margin-top: 42.5%;
    transition: all 500ms;
}
#textUML:hover{
    text-decoration: none;
    color: rgb(255, 141, 47);
    transition: all 500ms;
}

#navMesh
{   
    width: 1.6vw;
    height: 1.6vw;
    margin-left: 70%;
    margin-top: 36%;
    background-image: url(Projects/Design/navmesh.png);
    background-repeat: no-repeat;
    background-size: 100%;
    position: absolute;
}
#textNavMesh
{
    position: absolute;
    margin-left: 73.75%;
    margin-top: 36.5%;
}

#IA
{   
    width: 1.6vw;
    height: 1.6vw;
    margin-left: 70%;
    margin-top: 39%;
    background-image: url(Projects/Design/IA.png);
    background-repeat: no-repeat;
    background-size: 100%;
    position: absolute;
}
#textIA
{
    position: absolute;
    margin-left: 73.75%;
    margin-top: 39.5%;
}

#assets
{   
    width: 1.6vw;
    height: 1.6vw;
    margin-left: 70%;
    margin-top: 42%;
    background-image: url(Projects/Design/asset.png);
    background-repeat: no-repeat;
    background-size: 100%;
    position: absolute;
}
#textAssets
{
    position: absolute;
    margin-left: 73.75%;
    margin-top: 42.5%;
}


/* DEMO button */

#buttonDemo {
    position: relative;
    display: inline-block;
    margin-left: 73.5%;
    margin-top: 48%;
    padding: 0.6vw 3vw;
    font-size: 1vw;
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    background: rgba(0, 0, 0, 0.2);
    letter-spacing: 0.08vw;
    transition: 500ms;
}

#buttonDemo:hover {
    /*color: #f56529;*/
    background: rgba(0, 0, 0, 0.65);
    cursor: pointer;
}

#buttonDemo span {
    display: block;
    position: absolute;
    background-color: white;
}

/* Hover gauche */
#buttonDemo span:nth-child(1) {
    left: 0;
    bottom: 0;
    width: 0.1vw;
    height: 100%;
    transform: scaleY(0);
    transform-origin: top;
    transition: transform 300ms;
}

#buttonDemo:hover span:nth-child(1) {
    transform: scaleY(1);
    transform-origin: bottom;
    transition: transform 300ms;
}

/* Hover bas */
#buttonDemo span:nth-child(2) {
    left: 0;
    bottom: 0;
    width: 100%;
    height: 0.1vw;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 300ms;
}

#buttonDemo:hover span:nth-child(2) {
    transform: scaleX(1);
    transform-origin: left;
    transition: transform 300ms;
}

/* Hover droite */
#buttonDemo span:nth-child(3) {
    right: 0;
    bottom: 0;
    width: 0.12vw;
    height: 100%;
    transform: scaleY(0);
    transform-origin: top;
    transition: transform 300ms;
    transition-delay: 300ms;
}

#buttonDemo:hover span:nth-child(3) {
    transform: scaleY(1);
    transform-origin: bottom;
    transition: transform 300ms;
    transition-delay: 300ms;
}

/* Hover haut */
#buttonDemo span:nth-child(4) {
    left: 0;
    top: 0;
    width: 100%;
    height: 0.1vw;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 300ms;
    transition-delay: 300ms;
}

#buttonDemo:hover span:nth-child(4) {
    transform: scaleX(1);
    transform-origin: left;
    transition: transform 300ms;
    transition-delay: 300ms;
}

#moreProjectsText 
{
    z-index: 5;
    font-family: "Roboto light";
    font-weight: 100;
    font-size: 0.9vw;
    margin-top: 31.75vw;
    text-align: justify;
    color: #000000;
    position: absolute;
}

#filter
{   
    z-index: 6;
    display: none;
    width: 100%;
    height: 376.25%;
    position: absolute;
    background-color: #000000bb;
}

#demoPlatformer2D 
{   
    z-index: 7;
    position: absolute;
    display: none;
    width: 55.1vw;
    height: 31vw;
    margin-left: 22.5%;
    margin-top: 14.4%;
}

#filterMinivilles
{   
    z-index: 6;
    display: none;
    width: 100%;
    height: 376.25%;
    position: absolute;
    background-color: #000000bb;
}
#demoMinivilles
{   
    z-index: 7;
    position: absolute;
    display: none;
    width: 55.1vw;
    height: 31vw;
    margin-left: 22.5%;
    margin-top: 51.6%;
}

#filterInfiltrationGame
{   
    z-index: 6;
    display: none;
    width: 100%;
    height: 376.25%;
    position: absolute;
    background-color: #000000bb;
}
#demoInfiltrationGame
{   
    z-index: 7;
    position: absolute;
    display: none;
    width: 55.1vw;
    height: 31vw;
    margin-left: 22.5%;
    margin-top: 88.7%;
}

#downloadTxt 
{
    z-index: 5;
    font-family: "Roboto light";
    font-weight: 100;
    font-size: 0.6vw;
    margin-left: 81%;
    margin-top: 0.2%;
    color: #ffffff;
}
#downloadHyperTxt
{   
    text-decoration: underline;
    cursor: pointer;
    color: #ffffff;
    transition: all 400ms;
}
#downloadHyperTxt:hover {
    text-decoration: none;
    color: rgb(255, 141, 47);
    transition: all 400ms;
}



#minivilles-container {
    width: 55%;
    height: 93%;
    margin-left: 22.5%;
    margin-top: -3%;
    position: relative;
    font-size: 40px; 
    color: white;
}

#imgMinivilles {
    z-index: 1;
    position: absolute;
    width: 100%;
    height: 100%;
    margin-top: 0.5%;
    background-image: url(Projects/Design/Minivilles.png);
    background-repeat: no-repeat;
    background-size: 100%;
}

#InfiltrationGame-container {
    width: 55%;
    height: 93%;
    margin-left: 22.5%;
    margin-top: -13%;
    position: relative;
    font-size: 40px; 
    color: white;
}

#imgInfiltrationGame {
    z-index: 1;
    position: absolute;
    width: 100%;
    height: 100%;
    margin-top: 0.5%;
    background-image: url(Projects/Design/Infiltration-Game.png);
    background-repeat: no-repeat;
    background-size: 100%;
}



/* Projets Scolaires */

#projetsScolaires {
    width: 100%;
    height: 0.08vw;
    position: absolute;
    top: 10%;
    background-color: #2f2f2f;
}

#projetsScolaires a {
    z-index: 5;
    font-size: 1.6vw;
    font-weight: 400;
    position: absolute;
    color: #2f2f2f;
    left: 0.75%;
    bottom: 300%;
}

#contentTop {
    z-index: 5;
    width: 100%;
    height: 32%;
    top: 12.5%;
    position: absolute;
}

#box {
    font-size: 1.25vw;
    width: 23%;
    height: 100%;
    float: left;
    margin: 1%;
    overflow: hidden;
}

#box h2 {
    font-size: 100%;
    font-weight: 400;
    margin: 0%;
    margin-top: 0%;
    text-transform: uppercase;
    text-align: center;
    color: #272727;
    transition: all 250ms ease;
}

#box div {
    width: 100%;
    height: 50%;
    margin-top: 0%;
    background-size: cover;
    background-position: center;
    transition: all 250ms ease;
}

#box p {
    font-size: 50%;
    font-weight: 50;
    padding: 0% 2% 0% 2%;
    color: #272727;
}

#box label {
    width: 100%;
    height: 0%;
    float: left;
    pointer-events: none;
    border-bottom: 2px solid #ff6e30;
    transform: translateX(-101%);
    transition: transform 250ms ease;
}

#hitbox {
    position: absolute;
    width: 23%;
    height: 100%;
    float: left;
    margin: 1%;
    cursor: pointer;
}



/* Projets Personnels */

#projetsPerso {
    width: 100%;
    height: 0.08vw;
    position: absolute;
    top: 50%;
    background-color: #2f2f2f;
}

#projetsPerso a {
    font-size: 1.6vw;
    font-weight: 400;
    position: absolute;
    color: #2f2f2f;
    left: 0.75%;
    bottom: 300%;
}

#contentBottom {
    width: 100%;
    height: 32%;
    top: 53%;
    position: absolute;
}


/* Unity C# */

#csUnity {
    width: 100%;
    height: 40%;
    top: 88%;
    position: relative;
}

#unity {
    width: 100%;
    height: 0.08vw;
    position: absolute;
    top: 2%;
    background-color: #2f2f2f;
}

#unity a {
    font-size: 1.75vw;
    font-weight: 400;
    position: absolute;
    color: #2f2f2f;
    left: 0.75%;
    bottom: 300%;
}

#unityText {
    font-family: "Roboto Regular";
    font-size: 0.98vw;
    font-weight: 400;
    margin-top: 3.5%;
    text-align: justify;
    position: absolute;
    color: #272727;
    left: 0.75%;

}


/* GitHub */
h4 { 
    margin-top: 65%;
    margin-bottom: -0.5vh;
    font-size: 70%;
    font-weight: 200;
    text-align: center;
}

#GitHubButton {
    display: inline-block;
    position: relative;
    margin-left: 22.5vw;
    margin-bottom: 1vw;
}
#imgGit {
    position: absolute;
    width: 10vw; 
    height: 3vw; 
    transition: opacity 500ms;
}
#imgGitHover {
    position: absolute;
    width: 10vw; 
    height: 3vw; 
    pointer-events: none; 
    opacity: 0; 
    transition: opacity 500ms;
}



/* Footer */
#footer {
    position: relative;
    width: 100%;
    height: 21.5%;
    margin-top: 20%;
    background-color: #272727;
}

#margin {
    height: 0.5vw;
}

/* Icon GitHub */
#git {
    position: relative;
    margin-left: 47.35vw; 
    margin-top: 5vw;
    text-decoration: none;
}
#iconGit {
    position: absolute;
    width: 1.6vw; 
    height: 1.6vw; 
    transition: opacity 400ms;
}
#iconGitHover {
    position: absolute;
    width: 1.6vw; 
    height: 1.6vw; 
    pointer-events: none; 
    opacity: 0; 
    transition: opacity 400ms;
}

/* Icon LinkedIn */
#linkedin {
    position: relative;
    margin-left: 1.85vw; 
    text-decoration: none;
}
#iconLinkedin {
    position: absolute;
    width: 1.6vw; 
    height: 1.6vw; 
    transition: opacity 400ms;
}
#iconLinkedinHover {
    position: absolute;
    width: 1.6vw; 
    height: 1.6vw; 
    pointer-events: none; 
    opacity: 0; 
    transition: opacity 400ms;
}

/* Icon Mail */
#mail {
    position: relative;
    margin-left: 1.85vw;
    text-decoration: none;
}
#iconMail {
    position: absolute;
    width: 1.6vw;  
    height: 1.6vw; 
    transition: opacity 400ms;
}
#iconMailHover {
    position: absolute;
    width: 1.6vw; 
    height: 1.6vw; 
    pointer-events: none; 
    opacity: 0; 
    transition: opacity 400ms;
}


/* Nav Text */

#navFooter {
    margin-top: -0.6vw;
    margin-left: 41.3vw;
}

#navFooter ul {
    margin: 0;
    padding: 0;
}

#navFooter li {
    display: inline-block;
    margin-left: 0.5vw;
    font-size: 0.85vw;
    font-weight: 400;
    position: relative;
}

#navFooter a {
    color: #ffffff;
    text-decoration: none;
    transition: color 400ms;
}

#navFooter a:hover {
    color: rgb(245, 123, 41);
    transition: color 400ms;
}

h5 {
    font-family: Roboto Regular;
    font-size: 0.7vw;
    font-weight: 1;
    text-align: center;
    margin-top: 1.1vw;
    color: #ffffff;
}

h6 {
    font-family: Roboto Regular;
    font-size: 0.75vw;
    font-weight: 1;
    text-align: center;
    margin-top: -1vw;
    color: #ffffff; 
}

#credit {
    font-weight: 600;
    color: #ffffff; 
    transition: all 400ms;
}

#credit:hover {
    text-decoration: none;
    color: rgb(245, 123, 41);
    transition: all 400ms;
}

@media (max-height: 1100px) { 
    #navFooter {
        margin-top: -2vw;
        margin-left: 41.3vw;
    }
    #navFooter li {
        margin-left: 0.415vw;
    }
    h5 {
        font-size: 0.75vw;
        margin-top: 1vw;
    }
    h6 {
        margin-top: -1.1vw;
    }
}